@font-face {
   font-family: 'KufyanArabic-Medium';
   font-display: swap;
   src: url('file:///C:/Users/Mahmoud/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-02-09_102005/fonts/KufyanArabic-Medium/font.ttf');
}
